# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# VSCode settings
.vscode/

# Poetry
poetry.lock

# Logs
*.log

# Environment variables
.env

# OS files
.DS_Store

# Local testing artifacts
.coverage
htmlcov/